<div style="text-align:center">

  <div class="banner">
    List of Cars
  </div>

  <!-- error message displayed if call to API returns an empty response -->
  {{errorMsg}}

  <div *ngFor="let show of cars" style="margin-bottom: 10px; margin-top:20px; font-weight: bold">
    <div *ngIf="show.name">
    {{show.name}}

    <!-- This makes a call to the pipe to group the cars by make -->
    <div *ngFor="let car of show.cars | groupBy:'make'" style="font-weight: 500; margin-top: 10px"> 
      Make - {{car.key}}

      <div *ngFor="let model of car.value" style="font-weight: 100">
        <div *ngIf="model.model; else noModel">
            Model - {{model.model}}
        </div>

        <ng-template #noModel>
            No Model Available
          </ng-template>
        
      </div>
    </div>
  </div>
</div>
</div>
<router-outlet></router-outlet>
